.threeD {
    color: darkgrey;
    white-space: nowrap;
    font-size: 3em;
    letter-spacing: 0.1em;
    /* text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
      1px 5px 0 rgb(112, 112, 112), 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
      5px 13px 15px rgb(246, 236, 236); */
    text-shadow: 1px 1px 0 rgb(34, 90, 212), 1px 2px 0 rgb(29, 130, 176), 1px 3px 0 rgb(80, 26, 160), 1px 4px 0 rgb(129, 119, 181),
      1px 5px 0 rgb(6, 91, 210), 1px 6px 0 rgb(95, 174, 239), 1px 7px 0 rgb(111, 158, 205), 1px 8px 0 rgb(40, 125, 194),
      5px 13px 15px black;
}
.threeD:hover {
  transform: scale(1.1) translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
    /* text-shadow: 1px 1px 0 rgb(34, 90, 212), 1px 2px 0 rgb(29, 130, 176), 1px 3px 0 rgb(80, 26, 160), 1px 4px 0 rgb(129, 119, 181),
      1px 5px 0 rgb(6, 91, 210), 1px 6px 0 rgb(95, 174, 239), 1px 7px 0 rgb(111, 158, 205), 1px 8px 0 rgb(40, 125, 194),
      5px 13px 15px rgb(210, 210, 210); */
}
  
